body {
  background-color: lightcyan;
  margin: 5%;
}

.button {
  border: black solid 4px;
  color: lime;
}

.app {
  border: black solid 4px;
  margin: 5px;
  padding: 5px;
}

.container {
  border: solid 2px blue;
  max-width: 600px;
  padding: 15px;
  margin: 20px;
}

.shame {
  color: red;
}

.tile {
  border: solid 2px fuchsia;
  max-width: 600px;
  padding: 15px;
  margin: 20px;
}

.bestest {
  background-color: lime;
}
